.img-fit{
    width: 8%;
    height:auto;
    margin: 1px;
    padding: 3px;
}
.in-width{
    width: 40%;
}
.img{
    width: 100%;
    height: 400px !important;
}
.list{
    margin-top: 30px;
    color: rgb(204, 10, 130)
}